
VPD_261.sql
PH1_App/.vs/PH1_App/project-colors.json
PH1_App/.vs/PH1_App/v17/.suo
PH1_App/.vs/PH1_App/v17/.suo
PH1_App/obj/Debug/DesignTimeResolveAssemblyReferences.cache
PH1_App/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PH1_App/obj/Debug/PH1_App.csproj.AssemblyReference.cache
PH1_App/.vs/PH1_App/v17/.suo
